.App{
    width : 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightblue;

}

body {
    margin: 0;
    padding: 0;
}

.Sidebar {
    padding-top: 1%;
    height: 100%;
    width: 250px;
    background-color: lightblue;
    padding-bottom: 53%;
}

.SidebarList {
    height: auto;
    padding: 0;
    width: 100%;
}

.SidebarList .row {
    width : 100%;
    height: 60px;
    border: 0.5px solid black;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: rgb(54, 58, 61);
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.SidebarList .row:hover {
    cursor: pointer;
    background-color: rgb(62, 197, 197);
}

.SidebarList .row #active {
    background-color: aqua;
}
.row #icon {
    flex:30%;
    display: grid;
    place-items: center;
}

.row #title{
    flex:70%;
}

.label {
    flex: 30%;
    display: grid;
    font-size: larger;
    color: white;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.input {
    flex : 70%;
    font-size: larger;
    padding: 5px;
    margin: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn {
    color: white;
    background-color: teal;
    border-radius: 5px;
    font-size: larger;
    display: block;
    padding: 5px;
    margin: 10px auto;
}

.messages {
    display: flex;
    justify-content: center;
    font-size: small;
}

.error {
    display: block;
    width: fit-content;
    height: 50px;
    padding: 5px;
    color:blueviolet;
}

.success {
    display: block;
    background-color: lightblue;
    color:blueviolet;
    width: fit-content;
    height: 50px;
    padding: 5px;
}